# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# Uploaded images and datasets
datasets/Hands/
datasets/test.jpg
*.zip

# IDE
.vscode/
.idea/

node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
